hr {
    border: 2px solid black;
    width: 99%;
    margin: auto;
}

.header-section {
    text-align: center;
    padding: 1em;
}


/* Salva */

.header-section h1 {
    margin: 0;
}


/* Manage all your tabs with one click */

.header-section h5 {
    margin: 0;
    font-size: 90%;
}

.link-group.first-group {
    margin-bottom: 5px;
}

body {
    width: 600px;
    height: 600px;
    font-family: Arial, sans-serif;
    background-color: #fdf2e7;
}

.text-salva {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 35px;
    height: auto;
    margin-right: 10px;
    display: inline-block;
}

.link-group:last-child {
    margin-bottom: 150px;
}

.button-container {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.button-style {
    width: auto;
    margin-right: 5px;
}

.button-style:last-child {
    margin-right: 0;
}

.link-group {
    margin-bottom: 5px;
}


/* updated rules for link items */

.link-item {
    cursor: move;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    opacity: 1;
}

.link-item:not(:last-child) {
    margin-bottom: 5px;
}

.link-item:hover .delete-button {
    display: inline;
}

.link-item-dragging {
    opacity: 0.5;
}

.delete-button {
    margin-right: 10px;
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    align-items: center;
}

#add-link {
    border: none;
}

#add-group-button {
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: rgb(245, 245, 245);
    border-radius: 100px 100px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#add-group-button:hover {
    background: #33b249;
    color: white;
}

#remove-group {
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: rgb(245, 245, 245);
    border-radius: 100px 100px;
    width: 160px;
    height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#remove-group:hover {
    background: #d11d05;
    color: white;
}

#reset {
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: rgb(245, 245, 245);
    border-radius: 100px 100px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#reset:hover {
    background: black;
    color: white;
}

.button.delete {
    border: none;
    background: rgb(245, 245, 245);
    cursor: pointer;
    border-radius: 70%;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    margin-right: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.button.delete:hover {
    background: rgb(250, 113, 82);
    color: white;
}

.button.add {
    border: none;
    background: rgb(245, 245, 245);
    cursor: pointer;
    border-radius: 70%;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    margin-left: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.button.add:hover {
    background: rgb(99, 245, 86);
    color: white;
}

.group-title-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-title-div h5 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    vertical-align: middle;
}

.group-title-div button {
    vertical-align: middle;
}

.checkbox {
    margin-right: 10px;
    margin-left: 20px;
}

.link-icon {
    margin-right: 5px;
    height: 16px;
    width: 16px;
}

.link-container {
    display: flex;
    align-items: center;
}

.input-group-name,
.input-link {
    border: none;
}

.no-border-link {
    margin-top: 8px;
    border: none;
    margin-left: 30px;
    font-size: 14px;
    background-color: #fdf2e7;
}

.no-border-group {
    margin-top: 8px;
    border: none;
    margin-left: 30px;
    font-size: 15px;
    background-color: #fdf2e7;
}

input {
    background-color: #fdf2e7 !important;
    outline: none;
    border: none;
}

.footer {
    position: relative;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
}