body {
    width: 500px;
    font-family: Arial, sans-serif;
}

.text-salva {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.align-center {
    display: flex;
    justify-content: center;
}

#link-container {
    margin-top: 20px;
}

.link-group {
    margin-bottom: 10px;
}

.link-item {
    cursor: move;
    display: flex;
    align-items: flex-start;
}

.link-item:hover .delete-button {
    display: inline;
}

.delete-button {
    margin-right: 10px;
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

#add-link {
    border: none;
}

#add-group-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#remove-group {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#reset {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    /* optional: add margin-top for spacing */
}

.align-center {
    display: flex;
    justify-content: center;
}